<!DOCTYPE html>

<html>

<head>
    <title>Head</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
    <div class="main-content">
    {{>header}}
     <img class="portrait" src="../img/robot.png">
    <p>Answer {{Helpanswer}}</p>
    </div>
</body>

<footer>
    {{>footer}}
</footer>

</html>